CheckOptions:
  bugprone-reserved-identifier.*: false
  modernize-use-override.AllowOverrideAndFinal: true
  modernize-use-emplace.IgnoreImplicitConstructors: true
  modernize-use-nodiscard: false

Checks: '-modernize-use-nodiscard,-modernize-use-override'

